Uber Ride Analytics Assistant.json
{
  "name": "Uber Ride Analytics Assistant",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}\n\nID of Query: {{ new Date($json.body.timestamp).getTime() }}\n\n",
        "options": {
          "systemMessage": "=You are a friendly AI assistant for an Uber Data Analytics Dashboard.  \nYour job is to answer user questions {{ $json.body.question }} using the Google Sheets Tool that contains Uber ride data.  \n\nGuidelines:  \n1. Always respond in a short, clear, and friendly way.  \n2. Structure responses with bullets, highlights, or mini-tables for easy readability.  \n3. Focus on key insights (totals, averages, trends) instead of long explanations.  \n4. If data is unavailable, say so politely and suggest an alternative insight.  \n5. Keep a conversational, helpful tone while staying professional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        -256
      ],
      "id": "b6ff1c2e-e6b9-4eaa-9c43-87ad37d95672",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        -32
      ],
      "id": "a162b321-adcd-4867-8a3e-f265f7c0949a",
      "name": "OpenAI Chat Model",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "5HM7jZbUY2U7QEBd",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1c2DbAVRZdPKgNEOEXpSYkKqjUFiC8P5MQiOuzSK1uAc",
          "mode": "list",
          "cachedResultName": "customers-100",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c2DbAVRZdPKgNEOEXpSYkKqjUFiC8P5MQiOuzSK1uAc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1889105320,
          "mode": "list",
          "cachedResultName": "customers-100.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c2DbAVRZdPKgNEOEXpSYkKqjUFiC8P5MQiOuzSK1uAc/edit#gid=1889105320"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        304,
        -32
      ],
      "id": "e2f768bb-f999-4ce7-adaf-cde239d292de",
      "name": "customers",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p5bP0CY47e4tT5AN",
          "name": "Google Sheets account"
        }
      },
      "notes": "A list of customers CSV with 100 records"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "76144817-816c-476b-a2b5-1e33674469e8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        -256
      ],
      "id": "bbf4d6f2-dde0-4046-9c78-4940e1625948",
      "name": "Webhook",
      "webhookId": "76144817-816c-476b-a2b5-1e33674469e8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        -256
      ],
      "id": "69a63e7a-a345-4aa3-8b62-b8ccaf00f44e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.timestamp }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        -32
      ],
      "id": "5137fdd3-a4db-4ee4-a900-b0d0982a0fe3",
      "name": "Memory"
    },
    {
      "parameters": {
        "content": "## LLM Model",
        "height": 416,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -304
      ],
      "typeVersion": 1,
      "id": "2bceec37-99d2-4cb7-a761-d088bafc07d5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Uber Analytics Assistant",
        "height": 544,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -400
      ],
      "typeVersion": 1,
      "id": "992f21cc-4022-4523-b3a4-7dc2d5122371",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "customers": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0819070-fc38-4ac9-b8b3-6c33f6ad6ab3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c45f4b65d74c29ffd8df066082112d3dd5a5cd417a3c17df1b6fa1ec24ac87d9"
  },
  "id": "QKL7v0ptYNcwXLJ6",
  "tags": [
    {
      "createdAt": "2025-08-16T02:10:35.801Z",
      "updatedAt": "2025-08-16T02:10:35.801Z",
      "id": "GdbSiwBQgNmOp4g5",
      "name": "uber"
    }
  ]
}